<html class="no-js" lang="en-us">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="author" content="" />
  <meta name="description" content="International Swing Dance Festival" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Smokey Feet 2016 Registration</title>
  <link rel="stylesheet" href="//cdn.jsdelivr.net/foundation/6.1.1/foundation.min.css">
  <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="//cdn.jsdelivr.net/foundation/6.1.0/foundation.min.js"></script>
</head>
<body>
{% block content %}
{% endblock %}
  <script>
    $(document).foundation();
  </script>
</body>
</html>
