<h1>Complete</h1>

<form action="." method="post">
  {% csrf_token %}

  {{ form.non_field_errors }}

  <div class="fieldWrapper">
    {{ form.include_lunch.errors }}
    <label for="{{ form.include_lunch.id_for_label }}">Include lunch:</label>
    {{ form.include_lunch }}
  </div>

  <div class="fieldWrapper">
    {{ form.diet_requirements.errors }}
    <label for="{{ form.include_lunch.id_for_label }}">Diet requirements:</label>
    {{ form.diet_requirements }}
  </div>

  <div class="fieldWrapper">
    {{ form.competitions.errors }}
    <label for="{{ form.competitions.id_for_label }}">Competitions:</label>
    {{ form.competitions }}
  </div>

  <div class="fieldWrapper">
    {{ form.strictly_partner.errors }}
    <label for="{{ form.strictly_partner.id_for_label }}">Strictly Partner:</label>
    {{ form.strictly_partner }}
  </div>

  <p>I'd like to volunteer</p>

  <div class="fieldWrapper">
    {{ form.volunteering_for.errors }}
    <label for="{{ form.volunteering_for.id_for_label }}">Volunteering for:</label>
    {{ form.volunteering_for }}
  </div>

  <input type="submit" value="Submit and Pay" />
</form>
