{% extends '_base.html' %}

{% block content %}
<div class="row columns">
  <h2>Complete Registration</h2>
</div>

<form action="." method="post">
  {% csrf_token %}

  {{ form.media }}

{% if form.non_field_errors %}
  <div class="row columns">
    <div class="alert callout">
      {{ form.non_field_errors }}
    </div>
  </div>
{% endif %}

  <div class="row columns">
    {{ form.residing_country.errors }}
    <label for="{{ form.residing_country.id_for_label }}">
      Residing country</label>
    {{ form.residing_country }}
  </div>

{% if registration.is_full_pass %}
  <div class="row columns">
    <h3>Lunch</h3>
  </div>

  <div class="row columns">
    <p>Would you like to add lunch on <b>Saturday and Sunday</b> to your
    full-package? For lunch you will get two tasty sandwiches (pisotlet)
    and one piece of fruit, e.g. banana.
    </p>
  </div>

  <div class="row columns">
    {{ form.include_lunch.errors }}
    {{ form.include_lunch }}
    <label for="{{ form.include_lunch.id_for_label }}">
      Include Saturay &amp; Sunday lunch
      <b>(+ &euro;{{ registration.LUNCH_PRICE|floatformat:2 }})</b>
    </label>
  </div>

  <div class="row columns">
    {{ form.diet_requirements.errors }}
    <label for="{{ form.include_lunch.id_for_label }}">
      Dietary requirements <i>(optional)</i></label>
    {{ form.diet_requirements }}
  </div>
{% endif %}

  <div class="row columns">
    <h3>Competitions</h3>
    <p>Do you want to join our competitions? Note: limited spots available</p>
  </div>

  <div class="row columns">
    {{ form.competitions.errors }}
{% for cb in form.competitions %}
    {{ cb }}
{% endfor %}
  </div>

  <div class="row columns">
    {{ form.strictly_partner.errors }}
    <label for="{{ form.strictly_partner.id_for_label }}">Strictly Partner</label>
    {{ form.strictly_partner }}
  </div>

  <div class="row columns">
    <h3>Volunteering</h3>
    <p>Would you like to be a volunteer at Smokey Feet 2016?</p>

    <p>We will try our best to make sure you don't miss anything you
    don't want to miss :) All volunteer positions are part time. Which
    role(s) suits you?
    </p>

    <dl>
{% for vt in volunteer_types %}
      <dt>{{ vt.name }}</dt><dd>{{ vt.description }}</dd>
{% endfor %}
    </dl>
  </div>

  <div class="row columns">
    {{ form.volunteering_for.errors }}
{% for cb in form.volunteering_for %}
    {{ cb }}
{% endfor %}
  </div>

  <div class="row columns">
    <h3>Terms and Conditions</h3>
    {{ form.agree_to_terms.errors }}
    <label for="{{ form.agree_to_terms.id_for_label }}">
      {{ form.agree_to_terms }}
      I have read, understand, and agree to the Smokey Feet
      <a href="http://www.smokeyfeet.com/terms/" target="_blank">Terms and Conditions</a>
    </label>
  </div>

  <div class="row columns text-center">
    <input type="submit" class="success large button" value="Submit and Pay" />
  </div>
</form>
{% endblock %}
