{% extends '_base.html' %}

{% block content %}
<div class="row columns">
  <h1>Registration</h1>

  <h2>Sign up</h2>
  <p>Before signing up make sure you read the
  <a href="http://www.smokeyfeet.com/terms/">terms and conditions</a>
  and <a href="http://www.smokeyfeet.com/workshop/levels/">level descriptions</a>
  to see which level suits you best.
  </p>

  <p>After signing up you will receive an email confirming we've received
  your signup details. <b>This means we received your registration
  and does not mean you have secured a spot</b>. If this doesn't
  happen contact us!
  </p>

  <h2>Wait for confirmation</h2>

  <p>Your registration is initially put on hold until we can confirm that
  we can offer you a spot. Once a spot opens up you will receive an
  email. In this email you'll find a link to a questionnaire and payment
  information. We hope to send out the first confirmations within a week
  after registration opens.
  </p>

  <h2>Complete your registration</h2>

  <p>You have 14 days to complete your payment, fill in the questionnaire
  and send in your video audition (if applicable) or your reserved spot
  will be canceled. You should receive a final email confirming your
  successful registration.
  </p>

  <h1>Important need-to-knows</h1>

  <ul>
    <li>A lead and follow can sign up as a couple. Note that both
    of you need to sign up for the same level and you can not sign
    up with someone who's already registered alone. Both of you
    need to mention your partner's name during registration. Signing
    up with a partner is the best way to secure a spot for the workshop.
    </li>

    <li>If you send your video audition, you will get an email with
    the information regarding your level placement.
    </li>

    <li>It is possible to cancel or transfer your ticket. Check our
    Terms and Conditions for more info.
    </li>
  </ul>
</div>

<div class="row columns text-center">
  <a href="{% url 'signup' %}" class="success large button">Take me to the signup form!</a>
</div>
{% endblock %}
