{% extends '_base.html' %}

{% block content %}

<div class="row columns">
  <h2>Signup</h2>
</div>

<form action="." method="post">
  {% csrf_token %}

  {{ form.media }}

{% if form.non_field_errors %}
  <div class="row columns">
    <div class="alert callout">
      {{ form.non_field_errors }}
    </div>
  </div>
{% endif %}

  <div class="row columns">
    <h3>Your basic info</h3>
  </div>

  <div class="row">
    <div class="medium-6 columns">
      {{ form.email.errors }}
      <label for="{{ form.last_name.id_for_label }}">Email</label>
      {{ form.email }}
    </div>
    <div class="medium-6 columns">
      {{ form.email_repeat.errors }}
      <label for="{{ form.email_repeat.id_for_label }}">Confirm email</label>
      {{ form.email_repeat }}
    </div>
  </div>

  <div class="row">
    <div class="medium-6 columns">
      {{ form.first_name.errors }}
      <label for="{{ form.first_name.id_for_label }}">First name</label>
      {{ form.first_name }}
    </div>
    <div class="medium-6 columns">
      {{ form.last_name.errors }}
      <label for="{{ form.last_name.id_for_label }}">Last name</label>
      {{ form.last_name }}
    </div>
  </div>

  <div class="row columns">
    {{ form.residing_country.errors }}
    <label for="{{ form.residing_country.id_for_label }}">
      Residing country</label>
    {{ form.residing_country }}
  </div>

  <div class="row columns">
    <h3>Your pass</h3>
  </div>

  <div class="row columns">
    {{ form.dance_role.errors }}

    <fieldset class="fieldset">
      <legend>Dance role</legend>
{% for radio in form.dance_role %}
        {{ radio.tag }}<label for="{{ radio.id_for_label}}">{{ radio.choice_label }}</label>
{% endfor %}
    </fieldset>
  </div>

  <div class="row columns">
    <fieldset class="fieldset">
      <legend>Pass Type</legend>
      {{ form.pass_type.errors }}

{% for radio in form.pass_type %}
      {{ radio }}
{% endfor %}
    </fieldset>
  </div>

  <div class="row columns">
    <h3>Your workshop partner</h3>
    <p><b>Leave fields blank if signing up solo</b></p>
  </div>

  <div class="row">
    <div class="medium-6 columns">
      {{ form.workshop_partner_email.errors }}
      <label for="{{ form.workshop_partner_email.id_for_label }}">
      Partner email</label>
      {{ form.workshop_partner_email }}
    </div>
    <div class="medium-6 columns">
      {{ form.workshop_partner_name.errors }}
      <label for="{{ form.workshop_partner_name.id_for_label }}">
      Partner full name</label>
      {{ form.workshop_partner_name }}
    </div>
  </div>

  <div class="row columns">
    <h3>Include lunch during workshop</h3>
      {{ form.include_lunch.errors }}
      <label for="{{ form.include_lunch.id_for_label }}"> Include lunch</label>
      {{ form.include_lunch }}
  </div>

  <div class="row columns">
    <h3>Terms and Conditions</h3>
    {{ form.agree_to_terms.errors }}
    <label for="{{ form.agree_to_terms.id_for_label }}">
      {{ form.agree_to_terms }}
      I have read, understand, and agree to the Smokey Feet
      <a href="http://www.smokeyfeet.com/terms/" target="_blank">Terms and Conditions</a>
    </label>
  </div>

  <div class="row columns text-center">
    <input type="submit" class="success large button" value="Sign me up!" />
  </div>
</form>
{% endblock %}
