{% extends '_base.html' %}

{% block content %}
<div class="row columns">
  <h2>Registration Status</h2>

  <p><i>Signed up on {{ registration.created_at|date:"r" }}</i></p>

  <section>
    Name: {{ registration.last_name }}, {{ registration.first_name }}<br>
    Dance role: {{ registration.dance_role|capfirst }}<br>
    Pass type: {{ registration.pass_type.name }}<br>
  </section>

  <hr>

  <section>
{% if registration.is_accepted %}
    <p><i>Registration accepted on {{ registration.accepted_at|date:"r" }}.</i></p>

    <h4>Invoice</h4>
    <p>
    Pass type: {{ registration.pass_type.name }} - &euro; {{ registration.pass_type.unit_price }}<br>
    Lunch: {{ registration.lunch.name }} - &euro; {{ registration.lunch.unit_price }}<br>
    Subtotal: <b>&euro;{{ registration.amount_due|floatformat:2 }}</b></br>
    </p>

    <hr>

    <ul>
    {% for payment in registration.payment_set.all %}
      <li>Received payment (&euro; {{ payment.amount }}) on {{ payment.created_at|date:"r" }}</li>
    {% endfor %}
    </ul>

    {% if not registration.paid_in_full %}
    <form method="post">
    {% csrf_token %}
      <input type="submit" name="make_payment" class="success large button"
          value="Pay &euro;&nbsp;{{ registration.amount_due|floatformat:2 }}">
    </form>
    {% else %}
    <p><i>Your registration is fully paid!</i></p>
    {% endif %}
{% else %}
    <p>Please be patient while we process your registration.</p>
    <p>Keep an eye on your inbox.</p>
{% endif %}
  </section>

</div>
{% endblock %}
