{% extends 'mail/_base.html' %}

{% block content %}
<p>Hello {{ registration.first_name }},</p>

<p>Thank you for your interest in Smokey Feet 2017.</p>

<p>In the coming days we will start accepting registrations. If you are
admitted you will receive an email with further instructions.</p>

<p>Please note that your registration is only confirmed if you have paid before
the due date and received the confirmation email.</p>

<p>Stay tuned and keep an eye on your inbox.</p>

<p>All the best,</p>

<p>Smokey Feet Crew</p>
{% endblock %}
