{% extends 'mail/_base.html' %}

{% block content %}
<p>Hi there {{ registration.first_name }},</p>

<p>We noticed that you've not completed your registration.
This means your spot for Smokey Feet 2017 is in grave danger!</p>

<p>If you find this email in your inbox it means we did not receive your
payment yet. Make sure you secure your spot by making payment before
<b>{{ registration.payment_due_date|date:"SHORT_DATE_FORMAT" }}</b>.

<p><b><a href="{{ status_url }}">Make payment now!</a></b></p>

<p>If you have completed your payment but still receive this email make sure
you check your payment details and see if everything went well. You can send us
a copy/print screen if you are in doubt. Please note that an international bank
transfer can take a couple of days.</p>

<p>All the best,</p>

<p>Smokey Feet Crew</p>
{% endblock %}
