{% extends 'mail/_base.html' %}

{% block content %}
<p>Hello {{ registration.first_name }},</p>

<p>We have received your payment and your spot for Smokey Feet 2017
is now confirmed! We will keep you up to date on any news via the
Smokey Feet <a href="http://smokeyfeet.com">website</a> and
<a href="https://www.facebook.com/Smokey-Feet-181498711899234/">Facebook community</a>.
</p>

{% if registration.pass_type.video_audition_required %}
<p><strong>Don't forget to send us a link to your video audition before
{{ registration.video_audition_due_date|date:"SHORT_DATE_FORMAT" }}</strong></p>
{% endif %}

<p><strong><a href="{{ status_url }}">View registration status</a></strong></p>

<p>All the best,</p>

<p>Smokey Feet Crew</p>
{% endblock %}
