{% extends 'mail/_base.html' %}

{% block content %}
  <p>Hi {{ registration.first_name }},</p>

  <p>Congratulations, you have been admitted to Smokey Feet 2017!</p>

  <p>Please follow this <a href="{{ url }}">link</a> to finalize your
  registration. Here you will find a questionnaire and payment details.
  Please complete the questionnaire and payment <b>within 14 days</b>
  or your registration will be canceled.
  </p>

  <p>If you want to host or look for a host please see the
  <a href="https://www.facebook.com/groups/786669158122791/">Smokey Feet hosting Facebook group</a>.
  </p>

  <p>All the best,</p>

  <p>Smokey Feet Crew</p>
{% endblock %}
