{% extends 'mail/_base.html' %}

{% block content %}
  <p>Hello {{ registration.first_name }},</p>

  <p>We have received your payment and your spot for Smokey Feet 2016
  is now confirmed! We will keep you up to date on any news via the
  <a href="www.smokeyfeet.com">website</a> and facebook page.
  </p>

{% if registration.pass_type.video_audition_required %}
  <p>If you want to join our Piano level don't forget to send us a link
  to your video audition before the 29th of January.
  </p>
{% endif %}

  <p>All the best,</p>

  <p>Smokey Feet Crew</p>
{% endblock %}
