{% extends 'mail/_base.html' %}

{% block content %}
  <p>Hello {{ registration.first_name }},</p>

  <p>We noticed that you've not completed your registration.
  This means your spot for Smokey Feet 2017 is in grave danger!</p>

  <p>You still have until <b>{{ registration.due_date|date:"SHORT_DATE_FORMAT" }}</b>
  to finalize your registration or your spot may be given to someone else.</p>

  <p><a href="{{ url }}">Complete registration and payment</a></p>

  <p>In case you've already completed your payment within the last two days
  please ignore this reminder. If you're unsure about your payment status
  feel free to contact us.</p>

  <p>All the best,</p>

  <p>Smokey Feet Crew</p>
{% endblock %}
