<!DOCTYPE html PUBLIC
  "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
  <p>Hi {{ registration.first_name }},</p>

  <p>You're on the waiting list, just like everyone else. ;)</p>

  <p>As soon as we've processed your signup form, we'll notify you by email.
  In the follow up mail you'll be instructed to follow a link to a short
  questionnaire and payment instructions.
  </p>

  <p>Stay tuned and keep an eye on your inbox,</p>

  <p>- Smokey Feet Crew</p>
</body>
</html>
