<!DOCTYPE html PUBLIC
  "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Demystifying Email Design</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>

<p><i>This is an automatic generated message.</i></p>

<p>Hi {{ registration.first_name }},</p>

<p>Thanks for your interest in Smokey Feet 2016.</p>

<p>We have received your signup request and are now processing it. As
soon as a spot opens up we will let you know by email.</p>

<p><b>Please note: this email does not grant you a spot to Smokey Feet.</b></p>

<p>All the best,</p>

<p>- Smokey Feet crew</p>

</body>
</html>
