{% extends '_minishop.html' %}

{% block content %}
<div class="row columns">
  <h1 class="text-center">Complete order</h2>
</div>

<div class="row columns">
  <h2>Cart items</h2>

  <table>
    <tr>
      <th>Product</th>
      <th>Quantity</th>
      <th>Price</th>
      <th></th>
    </tr>
{% for item in cart.items.all %}
    <tr class="text-center">
      <td>{{ item.product.name }}</td>
      <td>{{ item.quantity }}</td>
      <td>&euro;&nbsp;{{ item.price|floatformat:2 }}</td>
      <td>
        <form action="." method="post">
          {% csrf_token %}
          <input type="hidden" name="item_id" value="{{ item.id }}">
          <input type="submit" name="remove_item" class="" value="Remove" />
        </form>
      </td>
    </tr>
{% endfor %}
  </table>

  <h4 class="text-center">Total due: &euro;&nbsp;{{ cart.total_due|floatformat:2 }}</h4>
</div>

<div class="row columns">
  <h2>Personal details</h2>
</div>

<form action="." method="post">
  {% csrf_token %}

  {{ form.media }}

{% if form.non_field_errors %}
  <div class="row columns">
    <div class="alert callout">
      {{ form.non_field_errors }}
    </div>
  </div>
{% endif %}

  <div class="row">
    <div class="medium-6 columns">
      {{ form.email.errors }}
      <label for="{{ form.last_name.id_for_label }}">Email</label>
      {{ form.email }}
    </div>
    <div class="medium-6 columns">
      {{ form.email_repeat.errors }}
      <label for="{{ form.email_repeat.id_for_label }}">Confirm email</label>
      {{ form.email_repeat }}
    </div>
  </div>

  <div class="row">
    <div class="medium-6 columns">
      {{ form.first_name.errors }}
      <label for="{{ form.first_name.id_for_label }}">First name</label>
      {{ form.first_name }}
    </div>
    <div class="medium-6 columns">
      {{ form.last_name.errors }}
      <label for="{{ form.last_name.id_for_label }}">Last name</label>
      {{ form.last_name }}
    </div>
  </div>

  <br/>

  <div class="row columns text-center">
    <input type="submit" name="pay" class="success large button"
        value="Pay &euro;&nbsp;{{ cart.total_due|floatformat:2 }}"/>
        <i>
    <p>By clicking on the 'Pay' button you agree to our
      <a href="http://www.smokeyfeet.com/terms/">Terms and Conditions</a>
    </p>
  </div>

</form>

{% endblock %}
