{% extends '_minishop.html' %}

{% block content %}
<div class="row small-up-1 medium-up-2">
{% for product in products %}
  <div class="columns">
    <div class="callout large">
    <h3 class="text-center">{{ product.name }}</h3>
{% if product.purchasable %}
    <h6 class="text-center subheader">{{ product.get_quantity_available }} left</h6>
{% else %}
    <h6 class="text-center subheader">SOLD OUT</h6>
{% endif %}
    <hr/>
    <div class="stat text-center">&euro;&nbsp;{{ product.unit_price|floatformat:2 }}</div>
    <br/>
{% if product.purchasable or product.allow_backorder %}
    <form action="." method="post">
      {% csrf_token %}
      <input type="hidden" name="product_id" value="{{ product.id }}">
      <input type="submit" name="add_to_cart" class="success large button expanded"
        value="{% if product.purchasable %}Purchase{% else %}Join waiting list{% endif %}"/>
    </form>
{% endif %}
    </div>
  </div>
{%endfor %}
</div>
{% endblock %}
