{% extends '_minishop.html' %}

{% block content %}
<div class="row columns">
  <h2>Order Status</h2>
  <h4 class="subheader">ID: {{ order.id }}</h4>

  <p><i>Order placed on {{ order.created_at|date:"r" }}</i></p>

  <section>
    Name: {{ order.first_name }} {{ order.last_name }}<br>
  </section>

  <hr>

  <section>
{% if order.has_backorder_items %}
    <p>You're on the waiting list for the following items. We'll let you know
    as soon as a spot becomes available.</p>

    <ul>
{% for item in order.items.all %}
      <li>{{ item.product.name }}</li>
{% endfor %}
    </ul>

{% else %}
    <h4>Invoice</h4>

    <ul>
{% for item in order.items.all %}
      <li>{{ item.product.name }} &euro;&nbsp;{{ item.price }} x {{ item.quantity }} = &euro;&nbsp;{{ item.total_price|floatformat:2 }}</li>
{% endfor %}
    </ul>

    <p>Subtotal: &euro;&nbsp;{{ order.get_subtotal|floatformat:2 }}</p>

{% if not order.is_paid %}
    <form method="post">
    {% csrf_token %}
      <input type="submit" name="make_payment" class="success large button"
          value="Pay &euro;&nbsp;{{ order.get_subtotal|floatformat:2 }}">
    </form>

    <p>By clicking on the 'Pay' button you agree to our
      <a href="http://www.smokeyfeet.com/terms/" target="_blank">Terms and Conditions</a>
    </p>
{% else %}
    <p><i>Your order is fully paid!</i></p>
{% endif %}

{% endif %}
  </section>

</div>
{% endblock %}
