Django==2.2.13
certifi==2020.4.5.1
chardet==3.0.4
dj-database-url==0.5.0
django-anymail==6.1.0
django-countries==6.1.2
environs==8.0.0
html2text==2020.1.16
idna==2.8
marshmallow==3.6.0
mollie-api-python==1.4.4
psycopg2==2.8.5
python-dotenv==0.13.0
pytz==2020.1
requests==2.23.0
six==1.15.0
sqlparse==0.3.1
urllib3==1.25.9
